* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --surface-color-dark-mode: rgba(255, 255, 255, 0.1);
  --surface-color-dark-mode-hover: rgba(255, 255, 255, 0.05);
  --stroke-color-dark-mode: rgba(255, 255, 255, 0.5);
  --text-color-dark-mode: #fff;
  --highlight-color-dark-mode: rgba(255, 255, 255, 0.2);

  --surface-color-light-mode: rgba(0, 0, 0, 0.05);
  --surface-color-light-mode-hover: rgba(0, 0, 0, 0.02);
  --stroke-color-light-mode: rgba(0, 0, 0, 0.5);
  --text-color-light-mode: #000;
  --highlight-color-light-mode: rgba(0, 0, 0, 0.1);
}

body {
  /* background-image: url("./assets/assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* Propriedade chamada "ShortHand" ou "Atalho"
  background: color image repeat position/size */

  background: url("/assets/assets/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #fff;
}

#container {
  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
  /* border: 1px solid red; */
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  display: inline;
  width: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
  line-height: 24px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 24px 16px;

  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: var(--surface-color-dark-mode);
  border: 1px solid var(--stroke-color-dark-mode);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-dark-mode-hover);
  border: 1.5px solid var(--text-color-dark-mode);
}

#social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  width: 56px;
  height: 56px;

  transition: all 0.2s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
#social-links a:hover {
  background: var(--highlight-color-dark-mode);
}